<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 配置信息 -->
<configuration>
	<settings>
		<setting name="defaultStatementTimeout" value="25"/>
	</settings>		
	<typeAliases>
		<!-- 给数据传输类起一个别名 (type:数据传输类 alias:别名) -->
			
			<typeAlias type="com.xch.dto.S_Order" alias="s_order" />
			<typeAlias type="com.xch.dto.S_User" alias="s_user" />
			<typeAlias type="com.xch.dto.S_Site" alias="s_site" />
			<typeAlias type="com.xch.dto.S_Server" alias="s_server" />
	</typeAliases>
	  
	
	<!-- 配置MyBatis3的环境 -->
	<environments default="env">
		<!-- 配置一个环境 -->
		<environment id="env">
			<!-- 配置事务管理器 JDBC(有事务)、MANAGED(托管) -->
			<transactionManager type="JDBC" />
			
			<!-- 配置数据源 JNDI(web服务器方式定义数据源)、POOLED(自带连接池)、UNPOOLED(不带连接池) -->
			<dataSource type="POOLED">
				<!-- 连接数据库驱动 -->
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<!-- 连接数据库URL-->		
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/xch?useUnicode=true&amp;characterEncoding=utf-8" />
				<!-- 连接数据库用户名 ningguo-->
				<property name="username" value="root" />
				<!-- 连接数据库密码 -->
				<property name="password" value="pugongying!@#" />
				<!-- <property name="password" value="pugongying!@#" /> -->
				<property name="poolPingEnabled" value="true"/>  
				 
           		<property name="poolPingQuery" value="select 1"/>  
           		
           		<property name="poolPingConnectionsNotUsedFor" value="3600000"/>  
				
			</dataSource>
		</environment>
	</environments>

	<!-- 配置xxxMapper.xml文件 -->
	<mappers>				
	<!-- <mapper resource="com/pgy/mapper/MTemplateBookMapper.xml" /> -->
	<mapper resource="com/xch/mapper/SOrderMapper.xml" />
	<mapper resource="com/xch/mapper/SServerMapper.xml" />
	<mapper resource="com/xch/mapper/SSiteMapper.xml" />
	<mapper resource="com/xch/mapper/SUserMapper.xml" />
	</mappers>



</configuration>