<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.pgy.mapper.CCustomMapper">
	
	
	
	
	
	<insert id="addMOrder">
		insert into m_order values
		(#{orderId},#{photoNum},#{bookId},#{lastTime})  
    	
	</insert>
	
	<select id="getMOrder" resultMap="mOrderBaseResultMap">
		
		select * from m_order where orderId = #{orderId};
		
	</select>
	
	
	
	
	<!-- 定义ResultMap -->
	<resultMap id="cCustomBaseResultMap" type="c_custom" autoMapping="true"></resultMap>
	
</mapper>