<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				   
<mapper namespace="com.xch.mapper.SOrderMapper">
	
	
	
	
	
	<insert id="addSOrder">
		insert into xch_s_order values
		(#{orderId},#{serverId},#{booking},#{orderStatus}
		,#{name},#{phone},#{siteDetails},#{remarksInfo}
		,#{remarksImg},#{startTime},#{endTime},#{staffId}
		,#{money})  
    	
	</insert>
	
	<select id="getSOrder" resultMap="sOrderBaseResultMap">
		
		select * from xch_s_order where orderId = #{orderId};
		
	</select>
	
	<select id="getSOrderList" resultMap="sOrderBaseResultMap">
		
		select * from xch_s_order
		<where>
		<if test="orderStatus !=null &amp;&amp; orderStatus !=''">
		    orderStatus = #{orderStatus}
	    </if>
	    <if test="staffId !=null &amp;&amp; staffId !=''">
		    staffId = #{staffId}
	    </if>
	    
		</where>
		order by startTime desc;
		 
	</select>
	
	
	<update id="updateSOrder">
		
		update xch_s_order set 
		
		<if test="money !=null &amp;&amp; money !=''">
		    money = #{money},
	    </if>
	    <if test="orderStatus !=null &amp;&amp; orderStatus !=''">
		    orderStatus = #{orderStatus},
	    </if>
	    <if test="endTime !=null &amp;&amp; endTime !=''">
		    endTime = #{endTime},
	    </if>
	    <if test="staffId !=null &amp;&amp; staffId !=''">
		    staffId = #{staffId}
	    </if>
	    
		where orderId = #{orderId}
		
	</update>
	
	
	
	
	<!-- 定义ResultMap -->
	<resultMap id="sOrderBaseResultMap" type="s_order" autoMapping="true"></resultMap>
	
</mapper>