<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.xch.mapper.SServerMapper">
	
	<insert id="addServer">
		insert into xch_s_server values
		(#{serverName},#{serverIconUrl})  
    	
	</insert>
	
	<select id="getSServer" resultMap="sServerBaseResultMap">
		
		select * from xch_s_server where serverId = #{serverId};
		
	</select>
	
	<select id="getSServerList" resultMap="sServerBaseResultMap">
		
		select * from xch_s_server order by serverId desc;
		 
	</select>
	
	
	
	<!-- 定义ResultMap -->
	<resultMap id="sServerBaseResultMap" type="s_server" autoMapping="true"></resultMap>
	
</mapper>