<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.xch.mapper.SSiteMapper">
	
	
	
	
	<select id="getSSiteByOpenId" resultMap="sSiteBaseResultMap">
		
		select * from xch_s_site where openId = #{openId};
		
	</select>
	
	<insert id="addSSite">
		insert into xch_s_site values
		(#{openId},#{name},#{phone},#{siteDetails})  
    	
	</insert>
	
	<update id="updateSSite">
		
		update xch_s_site
		<set>
			
			name = #{name},phone = #{phone},siteDetails = #{siteDetails}
		    
	    </set>
		where openId = #{openId}
		
	</update>
	
	
	
	
	<!-- 定义ResultMap -->
	<resultMap id="sSiteBaseResultMap" type="s_site" autoMapping="true"></resultMap>
	
</mapper>