<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.pgy.mapper.PhotoMapper">
	
	
	<!-- 保存钱包信息，用于OrderDao类中 -->
	<insert id="addPhoto">
		insert into p_photo values
		<foreach collection="photoUrl" item="item" index="index" separator=",">  
        (null,#{item},#{orderId})  
    	</foreach>  
	</insert>
	
	<select id="getFirstPhoto" resultType="String">
		select photoUrl from p_photo where orderId = #{orderId} limit 1;
		
	</select>
	
	<delete id="delPhotoByOrderId">
		delete from p_photo where orderId = #{orderId}
	</delete>
	
	<!-- 定义ResultMap -->
	<resultMap id="photoBaseResultMap" type="photo" autoMapping="true"></resultMap>
	
</mapper>